.icalprop,
#calendar_views,
.calendar_navigation > form {
	display: none;
}

#events_wrap {
	margin-bottom: 30px;
	
	caption {
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 18px;
	}

	.event > .details1 {
		padding: 15px 5px;
	}

	.event > .details1 a {
		color: #333;
	}

	.allday {
		background-color: @greenLight;
	}

	.day {
		margin-top: 5px;
	}

	.middleday > .details1 > a,
	.lastday > .details1 > a {
		color: transparent;
	}

	.instructional.allday {
		background-color: lighten(@yellow, 20%);
	}

	.leadership.allday {
		background-color: lighten(@violet, 50%);
	}
	
	// .lastday.leadership > .details1 > a {
	// 	color: inherit;
	// }


}