body {
	background-image: url('../img/background.jpg');
}

.container-logo {
	padding-top: 10px;
	padding-bottom: 15px;
}

.container-white {
	background-color: white;
	padding-bottom: 20px;
}

/*
 * Slides
 */

.card {
	position: absolute;
	bottom: 15px;
	left: 30px;

	width: 90%;

	@media @sm-up {
		width: 60%;
	}

	color: #FFF;
	font-family: @headings-font-family;

}

.card a:hover,
.attribution a:hover {
	color: #FFF;
	text-decoration: none;	
}

.card-title {
	display: block;
	width: 100%;
	
	font-size: 28px;
	text-shadow: 2px 1px 1px #000000;

	@media @xs {
		font-size: 14px;
	}

	@media @md-up {
		width: 50%;
	}
}

.card-description {
	font-size: 16px;
	text-shadow: 2px 1px 1px #000000;

	@media @xs {
		font-size: 10px;
	}
}

.attribution {
	position: absolute;
	bottom: 15px;
	right: 30px;

	@media @xs {
		display: none;
	}
}

.attribution a {
	color: #FFF;
	font-size: 14px;
	text-shadow: 2px 1px 1px #000000;
}

/*
 * Home - Higlights
 */

.highlight-box {
	display: block;
	position: relative;

	height: 80px;

	margin-top: 15px;
}

.highlight-title {
	position: absolute;
	bottom: 5px;
	left: 15px;

	color: white;

	.arial400();
	font-size: 20px;
	text-transform: uppercase;
}

.highlight-description {
	padding-top: 10px;
	padding-bottom: 10px;

	min-height: 100px;
}

.highlight-box-green {
	background-color: @green;
}

.highlight-box-greenLight {
	background-color: @greenLight;
}

.highlight-box-yellow {
	background-color: @yellow;
}

.post-excerpt a {
	color: @violet;
}

/*
 * News wrapper
 */

.news-wrapper {
	margin-top: 20px;
}

.news-wrapper h2,
.organizers h2,
.partners h2 {
	background-color: @gray-lighter;
	padding-left: 5px;
}

/*
 * Footer
 */

 .footer-container {
 	margin-top: 20px;
 	margin-bottom: 20px;
 }

.widget_text {
	list-style: none;
}
