.offcanvas .navbar-brand {
	float: none;
}

.tagline {
	font-size: 20px;

	@media @sm {
		padding-top: 40px;
	}

	@media @md {
		padding-top: 60px;
	}

	@media @lg {
		font-size: 26px;
		padding-top: 80px;
	}

}
